.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  min-width: 100vw;
  background-color: honeydew;
}

.logo {
  font-family: "Pacifico", cursive;
  color: brown;
  font-size: 4rem;
}
