@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Poppins, sans-serif;
    @apply bg-gray-100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Manrope, sans-serif;
    @apply text-miles-red-900;
}

p {
    font-family: Poppins, sans-serif;
}

label:has(input[type="checkbox"]:checked) {
    @apply border-miles-red-500;
    transition: border-color 0.2s ease;
}

label:has(input[type="checkbox"]:disabled) {
    @apply border-gray-300 text-gray-400;
    cursor: not-allowed;
    text-decoration: line-through;
    transition: text-decoration 0.2s ease;
}

/*Let's animate in all elements in a staggered manner*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
